{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <h2>Je suis dans Doctrine</h2>

    <p>{{ count }}</p>

    <ul class="list-unstyled">
        {% for user in listuser %}
            <li>
                {{ user.id }} : {{ user.lastname }} - {{ user.firstname }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
